.gpt3Features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3FeaturesHeading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.gpt3FeaturesHeading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    background-clip: text;
}

.gpt3FeaturesHeading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
    margin-top: 2rem;
}


.gpt3FeaturesContainer {
    flex: 2;
}
@media screen and (max-width: 990px) {
    .gpt3Features {

        flex-direction: column;
    }
    
    
}
@media screen and (max-width: 550px) {
 
.gpt3FeaturesHeading h1 {
  
    font-size: 28px;
    line-height: 38px;
}

    
    
}